{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Thank You!</title>
{% endblock %}

{% block nav %}
	<nav>
    	<ul>
        	<li><a href="#"><i class="fa fa-power-off"></i> Login</a></li>
        </ul>
    </nav>
{% endblock %}

{% block sidrNav %}
{% endblock %}

{% block main %}
  <main id="account-confirmation">
    <div class="container">
      <div class="row">
        <h2>Sign-up successful</h2>
        <section>
          <a href="{% url 'dashboard' %}">Log in here</a>
        </section>
      </div>
    </div>
  </main>

  {% endblock %}
