{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Sign-Up Successful</title>
{% endblock %}

{% block nav %}
	<nav>
    	<ul>
        	<li><a href="#"><i class="fa fa-power-off"></i> Login</a></li>
        </ul>
    </nav>
{% endblock %}

{% block sidrNav %}
{% endblock %}

{% block main %}
  <main id="account-confirmation">
    <div class="container">
      <div class="row">
        <h2>Sign-Up Successful</h2>
        <section>
        	<p>Your sign-up was successful! Thank you for creating an account with us!</p>
        	<!--<button type="submit" >Sign Up</button>-->
          	<a href="{% url 'dashboard' %}">Log in here</a>
        </section>
      </div>
    </div>
  </main>

  {% endblock %}
