{% extends "base.html" %}

{% block main %}
<main>
  <div class="container">
      {% if socialaccount.providers  %}
          <p>{{ site_name }}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{site_name}} account and sign in below:</p>
          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">or</div>

          </div>
        <a href="{{ signup_url }}">Sign up</a>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}

          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          
          <button type="submit">Login</button>
          <button type="button" onclick="location.href={{ signup_url }}">Sign Up</button> 

          <!-- <a href="{% url 'account_reset_password' %}">Forgot password?</a> -->

        </form>
  </div>
</main>
{% endblock %}