{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Login</title>
{% endblock %}

{% block sidrNav %}
<nav>
    <ul>
       <li><a href="#">About EVENTually</a></li>
       <li><a href="#">Meet the Team</a></li>
       <li><a href="#">Our Sponsors</a></li>
  	</ul>
</nav>
{% endblock %}

{% block mainNav %}
<nav>
    <ul>
       <li><a href="#">About EVENTually</a></li>
       <li><a href="#">Meet the Team</a></li>
       <li><a href="#">Our Sponsors</a></li>
  	</ul>
</nav>
{% endblock %}
               
{% block main %}
    <main>
        <div class="container">
            <section class="login">
                <form id="login">
                    Username: 
                    <br>
                    <input type="text" name="username">
                    <br>
                    Password: 
                    <br>
                    <input type="password" name="password">
                    <br>
                    <button type="submit" name="login">Login</button>
                    <button form="login" name="createAcct">Create an Account</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}
