{% extends "base.html" %}
{% block main %}
    <h1>Sign Up</h1>        
        <form id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <p>
            <label for="id_fname">First Name:</label> 
            <input autofocus="autofocus" id="id_fname" maxlength="30" name="first_name" placeholder="First Name" type="text">
          </p>
          <p>
            <label for="id_lname">Last Name:</label> 
            <input autofocus="autofocus" id="id_lname" maxlength="30" name="last_name" placeholder="Last Name" type="text">
          </p>

          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit">Sign Up</button>
        </form> 

    </div>

    {% endblock %}
