<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
    <!-- METADATA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <!-- PAGE TITLE -->
    {% block page_title %}
    {% endblock %}
    
    <!-- STYLESHEETS -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}stylesheets/normalize.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}stylesheets/skeleton.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}stylesheets/typography.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.0/fullcalendar.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.0/fullcalendar.print.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}stylesheets/jquery.simplyscroll.css" media="all" rel="stylesheet">
    <link href="{{ STATIC_URL }}stylesheets/meanmenu.css" rel="stylesheet">
    {% block stylesheets %}
    <link href="{{ STATIC_URL }}stylesheets/override-v2.css"  rel="stylesheet">
    {% endblock %}

    <!-- JAVASCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.0/fullcalendar.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery.simplyscroll.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery.meanmenu.js"></script>
    <script src="{{ STATIC_URL }}javascripts/bucket.js"></script>
</head>

<body>
    
    <!-- TOP BAR -->
    <section id="topBar">
        <div class="container">
            <header>
                <div id="logo" class="four columns alpha">
                	{% block homeLink %}
                    <h1><a href="/" class="logo-link">[EVENTually]</a></h1>
                    {% endblock %}
                </div>
                <div class="twelve columns omega">
                    <div class="mainNav">
                    	{% block nav %}
                        <nav>
                            <ul>
                                <li><a href="/create_event">+ Event</a></li>
                                <li><a href="/my_events">My Events</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="javascript:void(0);" onclick="$('#js-logout-form').submit();"><i class="fa fa-power-off"></i> Log Off</a></li>
                            </ul>
                        </nav>
                        <form id="js-logout-form" action="/accounts/logout/" method="post">
                            {% csrf_token %}
                        </form>
                        {% endblock %}
                    </div>
                </div>
            </header>
        </div>
    </section>

	
	<!-- MAIN CONTENT -->
    {% block main %}
    {% endblock %}

    <!-- PADDING ABOVE FOOTER -->
    <div class="padding"></div>
    
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <p>&copy; 2015 House LANnister Inc.</p>
        </div>
    </footer>

</body>

</html>