{% extends 'base.html' %}

{% block page_title %}
	<title>[EVENTually] | Add Subevent</title>
{% endblock %}

{% block main %}
    <main id="add-event">
        <div class="container">
            <h2>Add A Subevent</h2>
            <section class="form">
                <form id="addSubEvent" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button form="addSubEvent" type="submit" name="login">Add Subevent</button>
                </form>
            </section>
        </div>
    </main>
    <script>
      $(function() {
        $( "#id_start_time" ).datetimepicker({
        stepMinute: 5,
        });
        $( "#id_end_time" ).datetimepicker({
        stepMinute: 5,
        });
    });
    </script>
{% endblock %}