{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Add Event</title>
{% endblock %}

{% block main %}
    <main id="add-event">
        <div class="container">
            <h2>Add An Event</h2>
            <section class="form">
                <form id="addEvent" method='post'>
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button form="addEvent" type="submit" name="login">Add Event</button>

                </form>
            </section>
        </div>
    </main>
{% endblock %}