{% extends "base.html" %}

{% block main %}
<main id="event-inbox">
	<div class="container">
		<h2 class="welcome"><span>Event Invitations</span></h2>
		<br>
        <br>
		{% if invites %}

			{% for invite in invites %}
			<div class="event">
				<h3>{{ invite.event }}</h3>
				<div class="info">
				<p>Attending:

				<a 
					{% if invite.attending == "Y" %} 
						style="color:green;font-weight:bold;"
					{% endif %}
					href="{% url 'invite_response' invite_id=invite.pk response="1" %}">
					Yes | 
				</a>

				<a 
					{% if invite.attending == "N" %} 
						style="color:green;font-weight:bold;"
					{% endif %}
					href="{% url 'invite_response' invite_id=invite.pk response="0" %}">
					No | 
				</a>

				<a 
					{% if invite.attending == "?" %} 
						style="color:green;font-weight:bold;"
					{% endif %}
					href="{% url 'invite_response' invite_id=invite.pk response="2" %}">
					Maybe
				</a>
				</p>
				</div>
			</div>

			{% endfor %}

		{% else %}
		<h1>No invites. No one likes you. :'(</h1>
		{% endif %}			

	</div>
</main>
{% endblock %}