{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | {{ event.title }}</title>
{% endblock %}

{% block sidrNav %}
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="flex-wrapper">
                <div class="three columns">
                    <h4>Events I'm Hosting</h4>
                    <ul>
                        <li><a href="#">Upcoming</a></li>
                        <li><a href="#">Past</a></li>
                        <li><a href="{% url 'create_subevent' event_id={{ event.pk }} %}">+ Subevent</a></li>
                        <br /><br />
                        {% for subevent in event.subevents %}
                        <li>
                            <a href="{% url 'show_subevent' event_id={{ event.pk }} subevent_id={{ subevent.pk }} %}">
                            {{ subevent.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="thirteen columns">
                    <h2>{{ event.title }}</h2>
                    <figure>
                        {% if event.event_photo %}
                        <img src="{{ event.event_photo.url }}" alt="main event photo">
                        {% else %}
                        <img src="images/test.jpg" alt="main event photo">
                        {% endif %}
                    </figure>
                    <section class="date">
                        <p>Start: {{ event.start_time}}</p>
                        <p>End: {{ event.end_time }}</p>
                    </section>
                    <section class="description">
                        <h3>Event Description:</h3>
                        <p>{{ event.description }}</p>
                        
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}