{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | {{ event.title }}</title>
{% endblock %}

{% block main %}
    <main id="main-event">
        <div class="container">

            <!--<div class="flex-wrapper">-->
                <div class="twelve columns">
					<h2>{{ event.title }}</h2>
                    <figure>
                        {% if event.event_photo %}
                        <img src="{{ event.event_photo.url }}" alt="main event photo">
                        {% else %}
                        <img src="{{ STATIC_URL }}images/bg-img3.jpg" alt="main event photo">
                        {% endif %}
                    </figure>
                    <section class="date">
                    	<div class="six columns">
                        	<p>Start: {{ event.start_time}}</p>
                        </div>
                        <div class="six columns">
                        	<p>End: {{ event.end_time }}</p>
                        </div>
                    </section>
                    <section class="description">
                    	<div>
                        <h3><span>Event Description</span></h3>
                        <p>{{ event.description }}</p>
                        </div>
                    </section>
                </div>
                
                <div class="four columns sidebar">
                    
                    <div class="subevent">
                    	<h4>Subevents</h4>
                    	<ul>
                        {% for subevent in event.subevents %}
                        <li>
                            <a href="{% url 'show_subevent' event_id=event.pk subevent_id=subevent.pk %}">
                            {{ subevent.title }}
                            </a>
                        </li>
                        {% endfor %}
                        <li><a class="add-sub" href="{% url 'create_subevent' event_id=event.pk %}">+ Subevent</a></li>
                        </ul>
                    </div>
                    
                    <div class="host">
                    	<h4>Events I'm Hosting</h4>
                    	<ul>
                        	<li><a href="#">Upcoming</a></li>
                        	<li><a href="#">Past</a></li>
                    	</ul>
                    </div>
                    
                </div>
            <!--</div>-->
        </div>
    </main>
{% endblock %}