{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Event Title</title>
{% endblock %}

{% block sidrNav %}
{% endblock %}

{% block mainNav %}
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="flex-wrapper">
                <div class="three columns">
                    <h4>Events I'm Hosting</h4>
                    <ul>
                        <li><a href="#">Upcoming</a></li>
                        <li><a href="#">Past</a></li>
                        <li><a href="#">+ Subevent</a></li>
                    </ul>
                </div>
                <div class="thirteen columns">
                    <h2>Event Title</h2>
                    <figure>
                        <img src="images/test.jpg" alt="main event photo">
                    </figure>
                    <section class="date">
                        <p>EVENT DATE AND TIME GOES HERE</p>
                    </section>
                    <section class="description">
                        <h3>Event Description:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}