{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Who We Are</title>
{% endblock %}

{% block stylesheets %}
    <link href="{{ STATIC_URL }}stylesheets/homepage.css"  rel="stylesheet">
{% endblock %}

{% block homeLink %}
    <h1><a href="#" class="logo-link">[EVENTually]</a></h1>
{% endblock %}

{% block nav %}
	<nav>
		<ul>
        	<li><a href="{% url 'login' %}"><i class="fa fa-power-off"></i> Login</a></li>
		</ul>
	</nav>
{% endblock %}

{% block main %}
	<section id="cover-img">
        <div class="container">
        <h1>[EVENTually]</h1>
        <p>YOUR EVENTS, YOUR WORLD</p>
        <div class="action-call">
            <button type="button" onclick="location.href='/accounts/login/'" class="log-in">Login</button> <button type="button" onclick="location.href='/accounts/signup/'" class="sign-up">Sign Up</button>
        </div> 
        </div>
    </section>
    
      <section class="about">
        <div class="container">
            <h2><span>About Our App</span></h2>
            <p>[EVENTually] is an event organization and hosting web solution. Currently, event hosting can be very difficult, and many events opt to simply use Facebook to do so. There are similar systems on the market, such as the Facebook event system, Eventbrite, etc. This system is meant to be dedicated strictly to event hosting, and contains many more tools than simply setting a calendar date and tracking invites.</p>

            <p>Many events have different smaller, or sub-events within them such as speeches, tournaments, signings, etc.  Our system is meant to be applicable to various types of events, so that users can utilize it for anything from planning a medical conference to a video game tournament.</p>
        </div>
    </section>
	
	<!-- MAIN CONTENT -->
    <main>
	<div class="container team">
        <h2><span>Meet the Team</span></h2>
        <div class="three columns"><img src="{{ STATIC_URL }}images/anthony.jpg" alt="Charlie"><p>Anthony<br>Broomes-Barbee</p></div>
        <div class="three columns"><img src="{{ STATIC_URL }}images/andrew.jpg" alt="Charlie"><p>Andrew<br>Hagner</p></div>
        <div class="three columns"><img src="{{ STATIC_URL }}images/charlie.jpg" alt="Charlie"><p>Charlie<br>Heckroth</p></div>
        <div class="three columns"><img src="{{ STATIC_URL }}images/alyxis.jpg" alt="Charlie"><p>Alyxis<br>Johnson</p></div>
        <div class="three columns"><img src="{{ STATIC_URL }}images/kyle.jpg" alt="Charlie"><p>Kyle<br>Scuhmacher</p></div>
        <div class="three columns"><img src="{{ STATIC_URL }}images/jon.jpg" alt="Charlie"><p>Jon<br>Thompson</p></div>
    </div>  
    </main>
    
    <section class="software">
        <div class="container">
            <h2><span>Brought to You By</span></h2>
            <div class="four columns"><img src="{{ STATIC_URL }}images/django.png" alt="django"></div>
            <div class="four columns"><img src="{{ STATIC_URL }}images/heroku.png" alt="heroku"></div>
            <div class="four columns"><img src="{{ STATIC_URL }}images/github.jpg" alt="github"></div>
            <div class="four columns"><img src="{{ STATIC_URL }}images/slack.png" alt="slack"></div>
        </div>
    </section>
    
    <section class="sponsor">
        <div class="container">
            <h2><span>Our Sponsor</span></h2>
            <img class="sponsor" src="{{ STATIC_URL }}images/dragonLAN.png" alt="DragonLAN">
        </div>
    </section>
{% endblock %}