{% extends "base.html" %}

{% block page_title %}
    <title>[EVENTually] | Home</title>
{% endblock %}

{% block main %}
<main id="dashboard">
	<div class="container">
        <h2 class="welcome"><span>Welcome, {{ user.username }}!</span></h2>
        <!-- CALENDAR -->
        <section>
            <div id="calendar"></div>
        </section>
        <hr>
        <!-- SUGGESTED EVENTS -->
        <section class="events">
        	{% if events %}  
            <ul id="scroller">
                {% for event in events %}
                <li>
                    <a href="{{ event.get_absolute_url }}">
                        {% if event.event_photo %}
                        <img src="{{ event.event_photo.url }}">
                        {% else %}
                        <img src="{{ STATIC_URL }}images/bg-img3.jpg/">
                        {% endif %}
                    </a>
                    <p class="title">{{ event.title }}</p>
                    <p class="start">Start: {{ event.start_time }}</p>
                    <p class="end">End:{{ event.end_time }}</p>
                    <p class="description">{{ event.description }}</p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            	<h3>No events at this time.</h3>
            {% endif %}
        </section>
    </div>
</main>
{% endblock %}